name: Github Actions
on: [push]
jobs:
  StyLua-check:
    runs-on: ubuntu-latest
    steps:
      - name: StyLua
        uses: JohnnyMorganz/stylua-action@v1.1.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          version: 0.15.0
          args: --check .
